<style type="text/css">
body, div {
    margin:0;
    padding:0;
    font-size: 12px;
    color:#8C8C8C;
}
h2 {
    font-size: 14px;
    color: white;
    text-transform:uppercase;
}
.back-link {
    display: none;
}
</style>
