<div class="policy-section" id="info-type">
    <h2>What kind of information does Zero collect?</h2>
    <p class="first">
    When you signup for our newsletter or a demo ride, purchase items at a dealer, request a quote in our online store, contact us with a question or concern, send diagnostic information using the Zero app, or participate in a contest, promotion or survey, we may collect information such as your name, mailing address, phone number, email address and contact preferences.
    </p>
    <p>
    When you visit our website, we collect information sent to us by your computer. This information includes standard web log information, including your IP address, browser type, and the pages you accessed on our site with the time and date.
    </p>
    <p>
    We collect personal information you choose to enter when you submit a form, including your first name, last name, email address, phone number, street, city, state, country, postal code, product interest, questions and whether or not you want to subscribe to our newsletter. Additionally, when you submit a form, we record how you got to our site (e.g. email link, search terms, ad campaign, referral site, etc.).
    </p>
    <p>
    The Zero Motorcycles App gives you the ability to email diagnostic information to the Zero Motorcycles Customer Service Group. This will include the motorcycle’s settings (VIN, model, etc.) along with information from your motorcycle’s event and error logs, which may include time/date of rides along with the motorcycle state during these rides: speeds, temperatures, charging events and other measures of performance significance. Statistical data about your ride and usage of the app, including but not limited to distance travelled, average speed and energy consumption may also be submitted. If you choose to email the bike log information to Zero Motorcycles, it will be associated with your name and email address and may be shared with dealers, distributors and Zero Motorcycles personnel. We use this diagnostic information to resolve issues with your motorcycle and to help us improve product quality.
    </p>
    <p>
    The Zero Motorcycles App includes technology from Flurry Analytics which provides us with information about usage patterns and helps us determine the best areas for improvement. Flurry also records the types of devices and operating systems used, general geographic information, as well as events that occur within the Zero App, such as how often it is used and other anonymous data. This information helps us determine which mobile devices and languages we should support. For more information about Flurry, its privacy policy and how to opt out of this service, please go to <a href="http://www.flurry.com/user-opt-out.html" target="_blank">www.flurry.com/user-opt-out.html</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>
<div class="policy-section" id="info-duration">
    <h2>How long does Zero keep my information?</h2>
    <p class="first">
    Our web log information is retained for six months. Your personal information is retained for an indefinite period of time off our public web server.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="info-review">
    <h2>Reviewing or removing personal information</h2>
    <p class="first">
    We do not store your personal information on our public web server. If you need to update, review or remove your personal information please <a href="#contact">contact us</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="security">
    <h2>Zero’s security measures to protect personal information</h2>
    <p class="first">
    Your personal information is not stored on our public web server. In a very few cases an error log entry may be made when your personal information is submitted. Log information is removed every six months.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="info-use">
    <h2>How does Zero use my information?</h2>
    <div>We may use your personal information in the following ways:</div>
    <ul>
        <li>To communicate with you. Upon your request, we send you information about Zero’s latest products, services, upcoming events and special promotions. You may opt out from our mailing list by selecting the “One-Click Unsubscribe” link located at the bottom of each Zero newsletter.</li>
        <li>To answer any questions or concerns you may have about our products, services, and website.</li>
        <li>To connect you with a nearby Zero Motorcycles dealer if you are interested in signing up for a demo ride or making a purchase. If you have selected a specific dealer, you will be connected with that dealer; otherwise you will be connected with the dealer who is located nearest to you.</li>
        <li>For internal purposes such as data analysis and research to improve our products, services and customer communications. When you request information from Zero or one of our dealers or partners, you will be asked to participate in a follow-up survey. We want to make sure you are receiving good service.</li>
        <li>To run a promotion or contest. Entering Zero promotions and contests involves either submitting a form on our website, mailing an entry form to Zero, or giving an entry form to a Zero dealer. For select promotions and contests Zero Motorcycles may share your entry information with a third party.</li>
        <li>To send you important updates about products that you have purchased. These updates are for your benefit only and are not marketing related.</li>
        <li>To resolve issues with your motorcycle and to help us improve product quality.  The Zero Motorcycles App gives you the ability to email diagnostic information to the Zero Motorcycles Customer Service Group.</li>
    </ul>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="cookies">
    <h2>What about cookies?</h2>
    <p class="first">
    The Zero Motorcycles website uses cookies and other technologies such as pixel tags or web beacons. Cookies are bits of non-personal data – information about your use of our website, preferences, shopping cart items – that are stored on your browser. This allows for a more convenient, efficient and personalized user experience and is standard practice on the Internet.
    </p>
    <p>
    Cookies are used in our online behavioral advertising campaigns with Google AdWords and Facebook which help determine which ads are displayed to you when you visit other websites that belong to our advertising partners or their display networks. (See the <a href="#share">Does Zero share my information?</a> section.) For email and ad campaigns, we may also set a cookie to record that you have arrived at our site via that campaign.
    </p>
    <p>
    Most browsers allow you to disable cookies in the “Preferences” section. Your browser may also have options to block new cookies or notify you when you receive a request for a new cookie. If you disable cookies some sections of our website may not function fully.
    </p>
    <p>
    Web beacons or pixel tags are small pieces of code placed in a web page or email message. They help us track web page visits and notify us when emails are received.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="share">
    <h2>Does Zero share my information?</h2>
    <p class="first">
    Zero shares your personal information within our domestic and international branches, company contractors, and partnering dealerships and distributors. This is necessary to honor quote, demo ride and newsletter requests. Zero does not monitor, control or restrict third party use of this information in any manner.
    </p>
    <p>
    Zero may make limited personal information available to third parties in order to send promotional or communication materials.
    </p>
    <p>
    The Zero Motorcycles App gives you the ability to email diagnostic information to the Zero Motorcycles Customer Service Group. If you choose to email the bike log information to Zero Motorcycles, it will be associated with your name and email address and may be shared with dealers, distributors and Zero Motorcycles personnel. We use this diagnostic information to resolve issues with your motorcycle and to help us improve product quality.
    </p>
    <p>
    Zero uses cookies, which share your browsing activity on our website with Google and Facebook. Google Analytics cookies measure website activity and general statistics, including demographic and interest data, and allow us to improve our service. This information will include your IP address and is transmitted to and stored on Google servers. Google AdWords and Facebook use cookies to add our website visitors to our remarketing ad campaigns. Remarketing cookies allow Google AdWords and Facebook to display informed and optimized ads to past website visitors as they visit other sites. The information shared with Google and Facebook does not contain your name, address, telephone number, or e-mail address.
    </p>
    <p>
    Most browsers allow you to disable cookies in the “Preferences” section. Your browser may also have options to block new cookies or notify you when you receive a request for a new cookie. If you disable cookies some sections of our website may not function fully.
    </p>
    <p>
    As an alternative to disabling cookies, to disable remarketing advertising, you can visit the <a href="http://www.networkadvertising.org/" target="_blank">Network Advertising Initiative</a> website and <a href="http://www.networkadvertising.org/choices/" target="_blank">opt out of online behavioral advertising</a>. Just select the ad company: in this case, Google. The number of ads you view will be the same but the ads may not be as relevant. You will need to opt out of online advertising for each web browser that you use.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="receive-stop">
    <h2>How can I stop receiving information from Zero?</h2>
    <p class="first">
    If you would like to stop receiving newsletters, select the “One-Click Unsubscribe” link located at the bottom of each Zero newsletter.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="children">
    <h2>Children’s privacy</h2>
    <p class="first">
    Zero’s website and app are not designed for or directed to children under the age of 13.  We never knowingly collect personal information from anyone under the age of 13 without parental consent. If we learn that we have collected personal information from a child under 13 without parental consent, we will delete the information as soon as possible.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="contact">
    <h2>How do I contact you?</h2>
    <p class="first">
    If you have any questions or concerns about Zero’s Privacy Policy, please contact us.
    </p>
    <p style="margin-bottom:1em;">
    380 El Pueblo Road<br />
    Scotts Valley, CA 95066<br />
    USA<br />
    (888) 786-9376<br />
    <a href="mailto:info@zeromotorcycles.com">info@zeromotorcycles.com</a><br />
    </p>
    <span class="back-link">
        <a href="#top-of-page">Back to top</a>
    </span>
</div>

<div class="policy-section" id="changes">
    <h2>Changes to Zero Motorcycle’s Privacy Policy</h2>
    <p class="first">
    Last revised: February, 2015
    <br />
    This page describes the most recent updates to our Privacy Policy. We will update our privacy policy from time to time and encourage you to review it periodically.
    </p>
</div>
