<div class="policy-section" id="info-type">
    <h2>Welche Daten werden von Zero Motorcycles erfasst?</h2>
    <p class="first">
    Wenn Sie unseren Newsletter abonnieren oder sich zu einer Probefahrt anmelden, wenn Sie bei einem Händler einkaufen oder ein Angebot in unserem Online-Shop anfordern, wenn Sie uns mit Fragen oder Anliegen kontaktieren, Diagnoseinformationen über die Zero-Motorcycles App senden oder an einem Wettbewerb, einer Werbeaktion oder Umfrage teilnehmen, können Informationen wie Ihr Name, Ihre Postadresse, Telefonnummer, E-Mail-Adresse und bevorzugte Art der Kontaktaufnahme von uns gespeichert werden.
    </p>
    <p>
    Wenn Sie unsere Webseite besuchen, erfassen wir Informationen, die wir über Ihren Computer erhalten. Diese Informationen enthalten Standard-Internetprotokolldaten inklusive Ihrer IP-Adresse, der Art des Browsers und der Seiten, die Sie auf unserer Internetpräsenz abrufen mit Zeitangabe und Datum.
    </p>
    <p>
    Wir erfassen die persönlichen Daten, die Sie selbst eingeben, wenn Sie ein Formular hochladen. Dazu gehören Vorname, Nachname, E-Mail-Adresse, Telefonnummer, Straße, Ort, Land, Postleitzahl, Produktinteresse, Fragen und ob Sie unseren Newsletter abonnieren möchten oder nicht. Wenn Sie ein Formular hochladen, halten wir außerdem fest, wie Sie auf unsere Seite gelangt sind (z.B. Link in einer E-Mail, Suchbegriffe, Anzeigenkampagnen, Bezugsseiten u.a.)
    </p>
    <p>
    Mit der Zero Motorcycles App haben Sie die Möglichkeit Diagnoseinformationen an das Zero Motorcycles Kundenservice-Team zu mailen. Darin sind neben den Angaben über Ihr Motorrad (Fahrzeug-Identifizierungsnummer, Modell usw.) Informationen über Ihre Motorradevents und Fehlerprotokolle enthalten, welche Zeitangaben/Daten Ihrer Fahrten und den Zustand des Motorrads während dieser Fahrten umfassen: Geschwindigkeiten, Temperaturen, Ladevorgänge und sonstige Messungen, die für die Leistung von Bedeutung sind. Des Weiteren können statistische Daten über Ihre Fahrweise und die Verwendung der App hochgeladen werden, einschließlich gefahrener Strecken, der durchschnittlichen Geschwindigkeit, des Energieverbrauchs und vielem mehr. Falls Sie die Motorrad-Protokolldaten per E-Mail an Zero Motorcycles senden, werden sie mit Ihrem Namen und Ihrer E-Mail-Adresse verbunden und können mit Händlern, Lieferanten und Personal von Zero Motorcycles geteilt werden. Diese Diagnoseinformationen werden von uns verwendet, um Probleme mit Ihrem Motorrad zu lösen und unsere Produktqualität zu verbessern.
    </p>
    <p>
    Die Zero Motorcycles App verwendet Technologie von Flurry Analytics, die uns Informationen über Nutzungsmuster liefert und uns dabei hilft, die besten Optimierungsbereiche zu bestimmen. Flurry zeichnet außerdem auf, welche Geräte und Betriebssysteme verwendet werden sowie allgemeine geografische Daten und Ereignisse, die innerhalb der Zero App ablaufen, wie oft die App verwendet wird und sonstige anonyme Daten. Diese Informationen helfen uns herauszufinden, welche mobilen Geräte und Sprachen unterstützt werden sollten. Weitere Informationen über Flurry, die entsprechende Datenschutzerklärung und wie man diesen Dienst vermeiden kann, erhalten Sie auf <a href="http://www.flurry.com/user-opt-out.html" target="_blank">www.flurry.com/user-opt-out.html</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="info-duration">
    <h2>Wie lange werden Daten bei Zero Motorcycles gespeichert?</h2>
    <p class="first">
    Unsere Internetprotokolldaten werden sechs Monate lang aufbewahrt. Ihre persönlichen Daten werden über einen unbestimmten Zeitraum außerhalb unseres öffentlichen Webservers aufbewahrt.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="info-review">
    <h2>Überprüfung und Entfernung persönlicher Daten</h2>
    <p class="first">
    Ihre persönlichen Daten werden nicht auf unserem öffentlichen Webserver gespeichert. Falls Sie Ihre persönlichen Daten aktualisieren, überprüfen oder entfernen möchten, <a href="#contact">setzen Sie sich bitte mit uns in Verbindung</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="security">
    <h2>Sicherheitsvorkehrungen von Zero Motorcycles zum Schutz persönlicher Daten</h2>
    <p class="first">
    Ihre persönlichen Daten werden nicht auf unserem öffentlichen Webserver gespeichert. In sehr seltenen Fällen könnte beim Hochladen Ihrer persönlichen Daten ein Eintrag im Fehlerprotokoll erstellt werden. Protokolldaten werden alle sechs Monate entfernt.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="info-use">
    <h2>Wie werden meine Daten von Zero Motorcycles genutzt?</h2>
    <div>Wir können Ihre persönlichen Daten folgendermaßen nutzen:</div>
    <ul>
        <li>Um mit Ihnen zu kommunizieren. Auf Ihre Anfrage hin, senden wir Ihnen Informationen über die neusten Produkte und Dienstleistungen, über bevorstehende Ereignisse und besondere Werbeaktionen von Zero Motorcycles zu. Sie können unsere E-Mails abbestellen, indem Sie den Link „One-Click Unsubscribe” auswählen, der im unteren Teil jedes Zero Motorcycles-Newsletters zu finden ist.</li>
        <li>Um Ihnen Fragen und Anliegen zu unseren Produkten, Dienstleistungen und der Internetseite zu beantworten.</li>
        <li>Um Ihnen einen Händler in Ihrer Nähe zu vermitteln, falls Sie an einer Probefahrt oder einem Kauf interessiert sind. Sollten Sie bereits einen bestimmten Händler ausgewählt haben, stellen wir den Kontakt zu diesem Händler her; falls nicht, vermitteln wir Ihnen den Händler, der Ihrem Wohnort am nächsten liegt.</li>
        <li>Für interne Zwecke wie Datenanalysen und Forschung, um unsere Produkte, Dienstleistungen und die Kundenkommunikation zu verbessern. Wenn Sie Informationen von Zero Motorcycles oder von einem unserer Händler oder Partner anfordern, werden Sie um die Teilnahme an einer Folgebefragung gebeten. Wir wollen sicherstellen, dass Sie einen guten Service erhalten.</li>
        <li>Um eine Werbeaktion oder einen Wettbewerb durchzuführen. Die Teilnahme an Werbeaktionen und Wettbewerben von Zero Motorcycles ist entweder mit dem Hochladen eines Formulars auf unserer Webseite verbunden, mit dem E-Mail-Versand eines Teilnahmeformulars an Zero Motorcycles oder mit der Abgabe eines Teilnahmeformulars bei einem Zero-Händler. Bei bestimmten Werbeaktionen und Wettbewerben kann es vorkommen, dass Zero Motorcycles Ihre Teilnahmedaten mit Dritten teilt.</li>
        <li>Um Ihnen wichtige Aktualisierungen über die von Ihnen gekauften Produkte zu senden. Diese Aktualisierungen sind nur zu Ihrem Vorteil und nicht für Marketingzwecke gedacht.</li>
        <li>Um Probleme mit Ihrem Motorrad zu lösen und unsere Produktqualität zu verbessern. Mit der Zero Motorcycles App haben Sie die Möglichkeit Diagnoseinformationen an das Zero Motorcycles Kundenservice-Team zu mailen.</li>
    </ul>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="cookies">
    <h2>Wie verhält es sich mit Cookies?</h2>
    <p class="first">
    Die Zero Motorcycles-Webseite verwendet Cookies und andere Technologien wie Pixel Tags oder Web Beacons. Cookies sind kleine Datenmengen nicht personenbezogener Daten – Informationen über Ihre Nutzung unserer Webseite, Ihre Einstellungen, Ihre Positionen im Warenkorb – die auf Ihrem Browser gespeichert sind. Dies ermöglicht eine komfortablere, effizientere und personalisierte Anwendererfahrung und ist ein Standardverfahren im Internet.
    </p>
    <p>
    Cookies werden bei unseren verhaltensorientierten Online-Anzeigenkampagnen mit Google AdWords und Facebook verwendet, anhand derer die Ihnen dargestellten Anzeigen bestimmt werden können, wenn Sie andere Webseiten besuchen, die unseren Werbepartnern oder deren Display-Netzwerken gehören. (Siehe Abschnitt: Teilt Zero Motorcycles meine Daten mit anderen?). Bei E-Mail- und Anzeigenkampagnen kann außerdem ein Cookie gesetzt werden, um aufzuzeichnen, dass Sie über diese Kampagne auf unsere Seite gekommen sind.
    </p>
    <p>
    Bei den meisten Browsern können Cookies im Bereich „Einstellungen” deaktiviert werden. Ihr Browser könnte außerdem die Option anbieten, dass neue Cookies blockiert werden oder eine Nachricht erfolgt, wenn Sie eine Anfrage für ein neues Cookie erhalten. Wenn Sie Cookies deaktivieren, ist es möglich, dass einige Bereiche unserer Webseite nicht voll funktionsfähig sind.
    </p>
    <p>
    Web Beacons oder Pixel Tags sind kleine Code-Abschnitte, die in einer Webseite oder E-Mail-Nachricht platziert werden. Sie unterstützen uns darin, Besuche von Webseiten nachzuverfolgen und informieren uns, wenn E-Mails angekommen sind.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="share">
    <h2>Teilt Zero Motorcycles meine Daten mit anderen?</h2>
    <p class="first">
    Zero Motorcycles teilt Ihre persönlichen Daten innerhalb unserer nationalen und internationalen Niederlassungen, mit Vertragshändlern, Vertriebspartnern und Lieferanten. Dies ist notwendig, um Anfragen bezüglich Angeboten, Probefahrten und Newslettern zu berücksichtigen. Die Nutzung dieser Daten durch Dritte wird von Zero Motorcycles in keiner Weise überwacht, kontrolliert oder beschränkt.
    </p>
    <p>
    Zero Motorcycles macht möglicherweise persönliche Daten in begrenztem Umfang für Dritte zugänglich, um Werbe- und Informationsmaterial zu versenden.
    </p>
    <p>
    Mit der Zero Motorcycles App haben Sie die Möglichkeit Diagnoseinformationen an das Zero Motorcycles Kundenservice-Team zu mailen. Falls Sie die Motorrad-Protokolldaten per E-Mail an Zero Motorcycles senden, werden sie mit Ihrem Namen und Ihrer E-Mail-Adresse verbunden und können mit Händlern, Lieferanten und Personal von Zero Motorcycles geteilt werden. Diese Diagnoseinformationen werden von uns verwendet, um Probleme mit Ihrem Motorrad zu lösen und unsere Produktqualität zu verbessern.
    </p>
    <p>
    Zero Motorcycles verwendet Cookies, die Ihre Surfgewohnheiten auf unserer Webseite mit Google und Facebook teilen. Cookies von Google Analytics werten Surfgewohnheiten und allgemeine Statistiken aus, einschließlich demografischer Daten oder Informationen über Interessen, wodurch wir unseren Dienst verbessern können. Diese Informationen enthalten Ihre IP-Adresse und werden an Google-Server übertragen und dort gespeichert. Google AdWords und Facebook verwenden Cookies, um Besucher unserer Webseite zu unseren Remarketing-Anzeigenkampagnen hinzuzufügen. Anhand von Remarketing-Cookies sind Google AdWords und Facebook in der Lage, ehemaligen Besuchern unserer Webseite informationsreiche und optimierte Anzeigen darzustellen, sobald diese andere Seiten besuchen. Die mit Google und Facebook geteilten Informationen enthalten weder Ihren Namen, noch Adresse, Telefonnummer oder E-Mail-Adresse.
    </p>
    <p>
    Bei den meisten Browsern können Cookies im Bereich „Einstellungen” deaktiviert werden. Ihr Browser könnte außerdem die Option anbieten, dass neue Cookies blockiert werden oder eine Nachricht erfolgt, wenn Sie eine Anfrage für ein neues Cookie erhalten. Wenn Sie Cookies deaktivieren, ist es möglich, dass einige Bereiche unserer Webseite nicht voll funktionsfähig sind.
    </p>
    <p>
    Alternativ zur Deaktivierung von Cookies, um Remarketing-Werbung zu unterbinden, können Sie die Webseite <a href="http://www.networkadvertising.org/" target="_blank">Network Advertising Initiative</a> besuchen und verhaltensorientierte Online-Werbung abstellen. Wählen Sie einfach die Werbefirma aus. In diesem Fall: Google. Sie werden dann dieselbe Anzahl von Werbeanzeigen sehen, jedoch mit weniger angepassten Themen. Sie müssen Online-Werbung auf jedem von Ihnen verwendeten Webbrowser abstellen.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="receive-stop">
    <h2>Wie kann ich Informationen von Zero Motorcycles abbestellen?</h2>
    <p class="first">
    Wenn Sie keine Newsletter mehr erhalten möchten, wählen Sie den Link „One-Click Unsubscribe” aus, der im unteren Teil jedes Zero Motorcycles-Newsletters zu finden ist.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="children">
    <h2>Privatsphäre von Kindern</h2>
    <p class="first">
    Webseite und App von Zero Motorcycles sind weder an Kinder unter 13 gerichtet noch für diese entworfen worden. Wir erfassen niemals wissentlich persönliche Daten von Personen unter 13 ohne Einverständnis der Eltern. Sobald wir erfahren, dass wir persönliche Daten eines Kindes unter 13 ohne Einverständnis der Eltern erfasst haben, löschen wir die Daten so schnell wie möglich.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="contact">
    <h2>Wie setze ich mich mit Zero Motorcycles in Verbindung?</h2>
    <p class="first">
    Falls Sie Fragen oder Bedenken bezüglich der Datenschutzerklärung von Zero Motorcycles haben, setzen Sie sich bitte mit uns in Verbindung.
    </p>
    <p style="margin-bottom:1em;">
    380 El Pueblo Road<br />
    Scotts Valley, CA 95066<br />
    USA<br />
    (888) 786-9376<br />
    <a href="mailto:info@zeromotorcycles.com">info@zeromotorcycles.com</a><br />
    </p>
    <span class="back-link">
        <a href="#top-of-page">Zurück zum Anfang</a>
    </span>
</div>

<div class="policy-section" id="changes">
    <h2>Änderungen der Datenschutzerklärung von Zero Motorcycles</h2>
    <p class="first">
    Zuletzt aktualisiert: Februar 2015
    <br />
    Diese Seite enthält die neusten Aktualisierungen unserer Datenschutzerklärung. Wir aktualisieren unsere Datenschutzerklärung von Zeit zu Zeit und fordern Sie daher auf, sie regelmäßig zu überprüfen.
    </p>
</div>
