<div class="policy-section" id="info-type">
    <h2>Wat voor informatie verzamelt Zero Motorcycles?</h2>
    <p class="first">
    Als u zich aanmeldt voor onze nieuwsbrief of voor een proefrit, artikelen aanschaft bij een dealer, een prijsopgave aanvraagt in onze onlinewinkel, contact met ons opneemt over een vraag of een kwestie, ons diagnose-informatie toezendt via de Zero Motorcycles-app of als u deelneemt aan een prijsvraag, reclameactie of enquête, kunnen we informatie verzamelen zoals uw naam, postadres, telefoonnummer, e-mailadres en contactvoorkeuren.
    </p>
    <p>
    Als u onze website bezoekt, verzamelen we informatie die ons via uw computer bereikt. Dit omvat standaard webinformatie zoals uw IP-adres, uw browsertype en de pagina's op onze website die u hebt bezocht, samen met het tijdstip en datum.
    </p>
    <p>
    We verzamelen persoonlijke informatie die u desgewenst invoert wanneer u ons een formulier zendt. Het kan dan gaan om uw voornaam, achternaam, e-mailadres, telefoonnummer, straat, woonplaats, staat of provincie, land, postcode, productinteresse, vragen en of u zich al dan niet aanmeldt voor onze nieuwsbrief. Wanneer u ons een formulier zendt, registreren we ook hoe u op onze website bent gekomen (zoals een link in een e-mail, zoektermen, reclamecampagne, de website die u naar ons verwees enz.).
    </p>
    <p>
    De Zero Motorcycles-app maakt het mogelijk om via e-mail diagnose-informatie te zenden aan de afdeling voor klantenservice van Zero Motorcycles. Deze informatie bevat de instellingen van de motorfiets (VIN-aanduiding, model enz.) plus informatie in de logbestanden voor gebeurtenissen en storingen van uw motorfiets. Hierin kunnen het tijdstip en de datum van ritten zijn vermeld evenals de conditie van de motorfiets tijdens deze ritten, zoals rijsnelheden, temperaturen, oplaadgebeurtenissen en andere meetwaarden die iets duidelijk maken over de machineprestaties. Ook kan de gezonden informatie statistische gegevens over uw rit en het gebruik van de app bevatten, inclusief maar niet beperkt tot de gereden afstand, de gemiddelde rijsnelheid en het energieverbruik. Als u desgewenst de informatie uit uw motorfietslog per e-mail aan Zero Motorcycles zendt, worden aan deze informatie uw naam en e-mailadres gekoppeld en kan deze worden gedeeld met dealers, distributeurs en medewerkers van Zero Motorcycles. We gebruiken deze diagnose-informatie om problemen met uw motorfiets op te lossen en om onze productkwaliteit te helpen verbeteren.
    </p>
    <p>
    De Zero Motorcycles-app bevat technologie van Flurry Analytics, een bedrijf dat ons informatie levert over gebruikspatronen en dat ons helpt te bepalen wat de meest veelbelovende punten zijn die voor verbetering in aanmerking komen. Flurry registreert ook welk type voorzieningen en besturingssystemen er worden gebruikt, evenals algemene geografische informatie en gebeurtenissen binnen de Zero Motorcycles-app, zoals hoe vaak deze wordt gebruikt en nog andere anonieme data. Deze informatie helpt ons om vast te stellen welke mobiele apparatuur en talen we dienen te ondersteunen. Voor meer informatie over Flurry, hun privacybeleid en hoe u deze service kunt uitzetten, gaat u naar <a href="http://www.flurry.com/user-opt-out.html" target="_blank">www.flurry.com/user-opt-out.html</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="info-duration">
    <h2>Hoe lang bewaart Zero Motorcycles mijn informatie?</h2>
    <p class="first">
    Onze webloginformatie wordt zes maanden bewaard. Uw persoonlijke informatie wordt voor onbepaalde tijd bewaard op een andere locatie dan op onze openbare webserver.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="info-review">
    <h2>Persoonlijke informatie bekijken of verwijderen</h2>
    <p class="first">
    Uw persoonlijke informatie wordt niet op onze openbare webserver opgeslagen. Als u uw persoonlijke informatie wilt bijwerken, bekijken of verwijderen, neem dan <a href="#contact">contact op met ons</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="security">
    <h2>Maatregelen van Zero Motorcycles ter bescherming van persoonlijke informatie</h2>
    <p class="first">
    We slaan uw persoonlijke informatie niet op onze openbare webserver op. In zeer zeldzame gevallen kan er een vermelding in een foutenlog worden opgenomen wanneer u ons uw persoonlijke informatie zendt. Dergelijke loginformatie wordt na zes maanden weer verwijderd.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="info-use">
    <h2>Hoe gebruikt Zero Motorcycles mijn informatie?</h2>
    <div>We kunnen uw persoonlijke informatie op de volgende manieren gebruiken:</div>
    <ul>
        <li>Als we met u willen communiceren. Op uw verzoek zenden we u informatie over de nieuwste producten van Zero Motorcycles of over services, aanstaande evenementen en speciale aanbiedingen. U kunt de toezending van dergelijke mailings stoppen door op de link “One-Click Unsubscribe” (Afmelden met één klik) te klikken, onderaan in elke nieuwsbrief van Zero Motorcycles.</li>
        <li>Als we reageren op vragen of zorgen die u misschien hebt over onze producten en diensten en over de website.</li>
        <li>Als we u in contact brengen met een Zero Motorcycles-dealer in de buurt, als u een proefrit wilt aanvragen of een aankoop wilt doen. Als u een specifieke dealer hebt geselecteerd brengen we u uitsluitend met deze dealer in contact; zo niet, dan brengen we u in contact met de voor u dichtstbijzijnde dealer.</li>
        <li>Voor interne bedrijfsdoeleinden zoals gegevensanalyse en research, ter verbetering van onze producten en diensten en de communicatie met onze klanten. Als u informatie aanvraagt bij Zero Motorcycles of bij een van onze dealers of partners, wordt u gevraagd of u wilt deelnemen aan een vervolgonderzoek. We doen dit om te garanderen dat u goede service ontvangt.</li>
        <li>Als we een reclameactie of prijsvraag organiseren. Als u meedoet aan een reclameactie of prijsvraag van Zero Motorcycles, kunt u ons vanuit de website een formulier zenden, ons een deelnameformulier e-mailen of een dealer van Zero Motorcycles een deelnameformulier overhandigen. Bij bepaalde reclameacties en prijsvragen kan Zero Motorcycles uw deelname-informatie delen met derden.</li>
        <li>Als we u belangrijke updates zenden voor producten die u hebt aangeschaft. Deze updates dienen alleen ter verbetering van uw gebruikservaring en hebben geen reclamedoeleinden.</li>
        <li>Als we problemen met uw motorfiets oplossen en onze productkwaliteit willen helpen verbeteren. De Zero Motorcycles-app maakt het mogelijk om via e-mail diagnose-informatie te zenden aan de afdeling voor klantenservice van Zero Motorcycles.</li>
    </ul>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="cookies">
    <h2>Hoe zit het met cookies?</h2>
    <p class="first">
    De Zero Motorcycles-website gebruikt cookies en andere technologieën zoals pixeltags of webbakens. Cookies zijn kleine bestandjes met niet-persoonlijke gegevens, zoals informatie over het gebruik van onze website, voorkeuren en artikelen in winkelwagens. Deze bestandjes worden in uw browser opgeslagen. We vergemakkelijken hiermee uw gebruikservaring en maken deze efficiënter en persoonlijker. Deze werkwijze heeft op internet nu algemeen ingang gevonden.
    </p>
    <p>
    Cookies worden gebruikt in onze onlinereclamecampagnes met Google AdWords en Facebook. Dit helpt ons om te bepalen welke advertenties u te zien krijgt wanneer u websites bezoekt van onze reclamepartners of op hun netwerken voor weergave. (Lees ook de paragraaf <a href="#share">Deelt Zero Motorcycles mijn informatie met anderen?</a>). Voor e-mailings en reclamecampagnes plaatsen we soms een cookie die registreert of u via de betreffende campagne op onze website bent beland.
    </p>
    <p>
    In de meeste webbrowsers kunt u cookies in het tabblad “Voorkeuren” uitschakelen. Uw browser heeft mogelijk ook opties die nieuwe cookies blokkeren of die u informeren als u een aanvraag voor een nieuwe cookie ontvangt. Als u cookies uitzet, functioneren sommige onderdelen van onze website mogelijk niet optimaal.
    </p>
    <p>
    Webbakens of pixeltags zijn stukjes programmacode die in een webpagina of in een e-mail zijn geplaatst. Deze helpen ons bij het traceren van bezoeken aan webpagina's en informeren ons zodra er een e-mail binnenkomt.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="share">
    <h2>Deelt Zero Motorcycles mijn informatie met anderen?</h2>
    <p class="first">
    Zero Motorcycles deelt uw persoonlijke informatie binnen onze vestigingen in de Verenigde Staten en in andere landen, met leveranciers aan ons bedrijf en met dealerbedrijven en distributeurs die als partner aan ons verbonden zijn. Dit is nodig voor een goede afhandeling van aanvragen om een prijsopgave of proefrit of na aanmelding voor de nieuwsbrief. Zero Motorcycles controleert, stuurt of beperkt het gebruik van deze informatie door derden op geen enkele manier.
    </p>
    <p>
    Zero Motorcycles kan persoonlijke informatie in beperkte mate beschikbaar stellen aan derden om reclame- of communicatiemateriaal te kunnen toezenden.
    </p>
    <p>
    De Zero Motorcycles-app maakt het mogelijk om via e-mail diagnose-informatie te zenden aan de afdeling voor klantenservice van Zero Motorcycles. Als u desgewenst de informatie uit uw motorfietslog per e-mail aan Zero Motorcycles zendt, worden aan deze informatie uw naam en e-mailadres gekoppeld en kan deze worden gedeeld met dealers, distributeurs en medewerkers van Zero Motorcycles. We gebruiken deze diagnose-informatie om problemen met uw motorfiets op te lossen en om onze productkwaliteit te helpen verbeteren.
    </p>
    <p>
    Zero Motorcycles gebruikt cookies, waardoor we uw browseractiviteit op onze website delen met Google en Facebook. Cookies van Google Analytics meten activiteit op de website en algemene statistische data, waaronder meetgegevens voor demografie en klantbelangstelling, zodat we onze service kunnen verbeteren. Deze informatie omvat ook uw IP-adres en wordt doorgezonden en opgeslagen op de servers van Google. Google AdWords en Facebook gebruiken cookies om onze websitebezoekers toe te voegen aan hun advertentiecampagnes voor "remarketing". Remarketing-cookies zorgen dat Google AdWords en Facebook doelgerichte en geoptimaliseerde advertenties kunnen weergeven als voormalige websitebezoekers andere websites bezoeken. De met Google en Facebook gedeelde informatie bevat niet uw naam, woonadres, telefoonnummer of e-mailadres.
    </p>
    <p>
    In de meeste webbrowsers kunt u cookies in het tabblad “Voorkeuren” uitschakelen. Uw browser heeft mogelijk ook opties die nieuwe cookies blokkeren of die u informeren als u een aanvraag voor een nieuwe cookie ontvangt. Als u cookies uitzet, functioneren sommige onderdelen van onze website mogelijk niet optimaal.
    </p>
    <p>
    In plaats van cookies uit te zetten om zo advertenties met remarketing uit te schakelen, kunt u ook de website <a href="http://www.networkadvertising.org/" target="_blank">Network Advertising Initiative</a> bezoeken en hier kiezen voor <a href="http://www.networkadvertising.org/choices/" target="_blank">opt out of online behavioral advertising</a> (afzien van onlineadvertenties met remarketing). U selecteert dan het bewuste reclamebedrijf, in dit geval dus Google. U blijft dan hetzelfde aantal advertenties zien, maar deze advertenties zijn dan mogelijk minder relevant. Afzien van onlineadvertenties moet u apart inschakelen in elke webbrowser die u gebruikt.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="receive-stop">
    <h2>Hoe kan ik de toezending van informatie door Zero Motorcycles stoppen?</h2>
    <p class="first">
    Als u geen nieuwsbrieven meer wilt ontvangen, klikt u op de link “One-Click Unsubscribe” (Afmelden met één klik) onder aan elke nieuwsbrief van Zero Motorcycles.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="children">
    <h2>De privacy van kinderen</h2>
    <p class="first">
    De website en de app van Zero Motorcycles zijn niet ontworpen of bedoeld voor kinderen jonger dan 13 jaar. We verzamelen zonder toestemming van de ouders nooit opzettelijk persoonlijke informatie van iedereen die jonger is dan 13 jaar. Als we merken dat we persoonlijke informatie hebben verzameld van een kind dat jonger is dan 13 jaar zonder dat de ouders hiermee hebben ingestemd, wissen we deze informatie zo snel mogelijk.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="contact">
    <h2>Hoe kan ik contact met u opnemen?</h2>
    <p class="first">
    Als u vragen of zorgen hebt over het privacybeleid van Zero Motorcycles, neem dan contact op met ons.
    </p>
    <p style="margin-bottom:1em;">
    380 El Pueblo Road<br />
    Scotts Valley, CA 95066<br />
    VS<br />
    (888) 786-9376<br />
    <a href="mailto:info@zeromotorcycles.com">info@zeromotorcycles.com</a><br />
    </p>
    <span class="back-link">
        <a href="#top-of-page">Terug naar boven</a>
    </span>
</div>

<div class="policy-section" id="changes">
    <h2>Wijzigingen in het privacybeleid van Zero Motorcycles</h2>
    <p class="first">
    Laatste herziening: februari 2015
    <br />
    Deze pagina beschrijft de meest recente updates in ons privacybeleid. We werken ons privacybeleid regelmatig bij en moedigen u aan om dit onderwerp van tijd tot tijd opnieuw te bekijken.
    </p>
</div>
