<div class="policy-section" id="info-type">
    <h2>Quali dati personali vengono raccolti da Zero Motorcycles?</h2>
    <p class="first">
    Quando vi iscrivete alla nostra newsletter o a un test drive, quando acquistate dei prodotti presso una concessionaria o chiedete un preventivo online, quando ci contattate per sottoporci una domanda o una richiesta, quando ci inviate dati diagnostici usando l'applicazione Zero Motorcycles o partecipate a un concorso, a una promozione o a un sondaggio, Zero Motorcycles può raccogliere dei dati personali che vi riguardano, come nome e cognome, indirizzo, numero di telefono, email e preferenze di contatto.
    </p>
    <p>
    Quando visitate il nostro sito web, Zero Motorcycles raccoglie i dati inviati dal vostro computer. Questi dati includono le informazioni standard per accedere ai siti web, inclusi il vostro indirizzo IP, il tipo di navigatore utilizzato e le pagine che avete consultato sul nostro sito, con la data e l'ora.
    </p>
    <p>
    Zero Motorcycles raccoglie inoltre i dati personali che fornite volontariamente quando inviate un formulario, come, per esempio, nome e cognome, indirizzo email, numero di telefono, indirizzo, città e codice di avviamento postale, prodotti a cui siete interessati, le vostre domande e il fatto che vi siate o meno registrati alla newsletter. Inoltre, quando sottoponete un formulario, Zero Motorcycles registra il metodo utilizzato per accedere al nostro sito web (ad esempio, da un link contenuto in una email, tramite un motore di ricerca, da una campagna pubblicitaria o da sito di riferimento, ecc.).
    </p>
    <p>
    L'applicazione Zero Motorcycles vi consente di inviare via email i dati diagnostici della vostra moto direttamente al Servizio Clienti di Zero Motorcycles. Questi dati includono i dati identificativi della moto (numero di telaio, modello, ecc.) insieme al registro degli eventi e dei codici guasto, che potrebbe includere le date e gli orari in cui la moto è stata utilizzata e informazioni relative allo stato della moto elettrica durante l'utilizzo: velocità di marcia, temperature, ricariche e altri parametri di guida rilevanti. Zero Motorcycles potrebbe inoltre raccogliere dati statistici sul vostro stile di guida e su come utilizzate l'applicazione, inclusi, in maniera non esaustiva, le distanze percorse, la velocità media e il consumo di energia. Se decidete di inviare i dati contenuti nel registro della vostra moto a Zero Motorcycles via email, il vostro nome e il vostro indirizzo email saranno associati ad essi e saranno suscettibili di essere condivisi con i concessionari e i rivenditori autorizzati e con il personale di Zero Motorcycles. Tali dati diagnostici saranno utilizzati per risolvere eventuali anomalie della vostra moto e per migliorare la qualità dei nostri prodotti.
    </p>
    <p>
    L'applicazione Zero Motorcycles utilizza una tecnologia sviluppata da Flurry Analytics, che ci fornisce informazioni utili sulle abitudini di utilizzo dei nostri clienti, al fine di determinare le aree di miglioramento. Flurry Analytics registra inoltre i tipi di apparecchiatura e i sistemi operativi utilizzati, informazioni geografiche di carattere generale e gli eventi relativi all'applicazione Zero Motorcycles, ad esempio la frequenza di utilizzo e altri dati anonimi. Queste informazioni ci aiutano a determinare gli apparecchi mobili e le lingue utilizzati dai nostri clienti e che dovremmo rendere disponibili. Per ulteriori informazioni su Flurry Analytics, la sua politica di riservatezza e su come disattivare questo servizio, vi invitiamo a consultare il seguente sito <a href="http://www.flurry.com/user-opt-out.html" target="_blank">www.flurry.com/user-opt-out.html</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="info-duration">
    <h2>Per quanto tempo vengono conservati i miei dati personali da parte di Zero Motorcycles?</h2>
    <p class="first">
    Zero Motorcycles conserva i dati del registro web per sei mesi. I vostri dati personali vengono conservati indefinitamente in una banca dati non collegata al server web pubblico.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="info-review">
    <h2>Modifica o cancellazione dei dati personali</h2>
    <p class="first">
    I vostri dati personali non vengono conservati nel nostro server web pubblico. Se desiderate aggiornare, modificare o cancellare i vostri dati personali, vi invitiamo a <a href="#contact">contattarci</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="security">
    <h2>Misure di sicurezza implementate da Zero Motorcycles per la tutela dei dati personali</h2>
    <p class="first">
    I vostri dati personali non vengono conservati nel nostro server web pubblico. In casi eccezionali, un messaggio di errore potrebbe venire memorizzato nel registro web quando inviate i vostri dati personali. Tali informazioni vengono cancellate dal registro ogni sei mesi.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="info-use">
    <h2>A quale scopo vengono utilizzati i miei dati personali da Zero Motorcycles?</h2>
    <div>Zero Motorcycles si riserva la facoltà di utilizzare i vostri dati personali per i seguenti fini:</div>
    <ul>
        <li>Per comunicare con voi. Su vostra richiesta, per inviarvi informazioni relative agli ultimi prodotti, ai servizi, ai prossimi eventi e alle promozioni speciali di Zero Motorcycles. Avete la facoltà di disattivare il servizio di mailing list in qualsiasi momento, facendo clic sul link “One-Click Unsubscribe” che si trova in fondo a tutte le newsletter di Zero Motorcycles.</li>
        <li>Per rispondere alle vostre domande e richieste sui nostri prodotti e servizi e sul nostro sito web. </li>
        <li>Per mettervi in contatto con un concessionario Zero Motorcycles vicino a voi per un test drive o un acquisto. Sarete messi in contatto con il concessionario prescelto o, in alternativa, con quello più vicino a voi.</li>
        <li>Per uso interno, per esempio per attività di analisi e ricerca dati volte al miglioramento dei nostri prodotti e servizi e della comunicazione con i clienti. Quando inviate una richiesta di informazioni a Zero Motorcycles o a un concessionario o rivenditore autorizzato, vi sarà richiesto di partecipare a un sondaggio sulla qualità dei nostri servizi.</li>
        <li>Per lanciare un concorso o una promozione speciale. La partecipazione alle promozioni e ai concorsi organizzati da Zero Motorcycles prevedono l'invio di un formulario tramite questo sito web o via email, oppure la consegna di un formulario di partecipazione a un concessionario Zero Motorcycles. Per determinati promozioni e concorsi, Zero Motorcycles si riserva la facoltà di condividere i vostri dati con parti terze.</li>
        <li>Per inviarvi importanti aggiornamenti sui prodotti che avete acquistato. Questi aggiornamenti sono esclusivamente a vostro vantaggio e non hanno alcun fine di marketing o commerciale.</li>
        <li>Per risolvere eventuali anomalie riscontrate dalla vostra moto e per migliorare la qualità dei nostri prodotti. L'applicazione Zero Motorcycles vi consente di inviare via email i dati diagnostici della vostra moto direttamente al Servizio Clienti di Zero Motorcycles.</li>
    </ul>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="cookies">
    <h2>Cosa sono i cookie?</h2>
    <p class="first">
    Il sito web di Zero Motorcycles impiega i cookie e altri tipi di tecnologie di tracking, tipo pixel tag o web beacon. I cookie sono blocchi di dati non personali (informazioni su come utilizzate il nostro sito web, le vostre preferenze, i prodotti nel vostro cestello) memorizzati nel vostro navigatore. I cookie consentono di rendere la vostra esperienza di utilizzo del nostro sito più piacevole, efficiente e personalizzata. Si tratta di una tecnologia comunemente impiegata su Internet.
    </p>
    <p>
    I cookie sono utilizzati nelle nostre campagne pubblicitarie comportamentali online con Google AdWords e Facebook; i cookie ci consentono di determinare quali messaggi pubblicitari visualizzare quando visitate i siti dei nostri partner pubblicitari o della loro rete di visualizzazione. (Vedere il paragrafo <a href="#share">A chi vengono forniti i miei dati personali da parte di Zero Motorcycles?</a>.) Nelle campagne email e pubblicitarie, Zero Motorcycles potrebbe impiegare un cookie per registrare che il visitatore è giunto al nostro sito tramite tale campagna
    </p>
    <p>
    La maggior parte dei navigatori consente di disattivare i cookie dalla sezione "Impostazioni". Il vostro navigatore potrebbe inoltre avere delle opzioni che permettono di bloccare i nuovi cookie o di informarvi quando ricevete una richiesta di attivazione di un nuovo cookie. Se disattivate i cookie, alcune funzioni del sito potrebbero non funzionare correttamente.
    </p>
    <p>
    Web beacon e pixel tag sono piccoli blocchi di codici inseriti nelle pagine web o nei messaggi email che consentono di monitorare le visite a una pagina web e informano quando un'email è stata ricevuta.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="share">
    <h2>A chi vengono forniti i miei dati personali da parte di Zero Motorcycles?</h2>
    <p class="first">
    Zero Motorcycles condivide i vostri dati personali con le proprie filiali nazionali e internazionali, con i fornitori e con i concessionari e i rivenditori autorizzati. La condivisione dei vostri dati è necessaria per evadere i preventivi, per organizzare i test drive e per gestire la distribuzione della newsletter. Zero Motorcycles non monitorizza, controlla o limita l'uso di tali dati da parte di terzi.
    </p>
    <p>
    Zero Motorcycles si riserva la facoltà di trasmettere una parte dei vostri dati personali a terzi per l'invio di materiale promozionale o informativo.
    </p>
    <p>
    L'applicazione Zero Motorcycles vi consente di inviare via email i dati diagnostici della vostra moto direttamente al Servizio Clienti di Zero Motorcycles. Se decidete di inviare i dati contenuti nel registro della vostra moto a Zero Motorcycles via email, il vostro nome e il vostro indirizzo email saranno associati ad essi e saranno suscettibili di essere condivisi con i concessionari e i rivenditori autorizzati e con il personale di Zero Motorcycles. Tali dati diagnostici saranno utilizzati per risolvere eventuali anomalie della vostra moto e per migliorare la qualità dei nostri prodotti.
    </p>
    <p>
    Zero Motorcycles utilizza dei cookie per condividere le vostre attività di navigazione sul nostro sito web con Google e Facebook. Le informazioni raccolte tramite i cookie di Google Analytics consentono di analizzare l'utilizzo del sito web ed elaborare statistiche di carattere generale, per esempio sui dati demografici e sugli interessi dei visitatori. Questo ci consente di migliorare i nostri servizi alla clientela. Tali dati includono il vostro indirizzo IP, che viene trasmesso a e memorizzato da dei server Google. Google AdWords e Facebook usano dei cookie per includere i visitatori del nostro sito web agli elenchi per le nostre campagne pubblicitarie di remarketing. I cookie di remarketing consentono a Google AdWords e a Facebook di proporre messaggi pubblicitari mirati e personalizzati agli utenti che hanno visitato in precedenza il nostro sito web mentre visitano altri siti web. I dati condivisi con Google e Facebook non contengono il vostro nome, indirizzo, numero di telefono o indirizzo email.
    </p>
    <p>
    La maggior parte dei navigatori consente di disattivare i cookie dalla sezione "Impostazioni". Il vostro navigatore potrebbe inoltre avere delle opzioni che permettono di bloccare i nuovi cookie o di informarvi quando ricevete una richiesta di attivazione di un nuovo cookie. Se disattivate i cookie, alcune funzioni del sito potrebbero non funzionare correttamente.
    </p>
    <p>
    Se desiderate invece disattivare solo la funzione di remarketing, vi invitiamo a consultare il sito <a href="http://www.networkadvertising.org/" target="_blank">Network Advertising Initiative</a> e a <a href="http://www.networkadvertising.org/choices/" target="_blank"> disattivare la pubblicità comportamentale online</a>. Selezionate semplicemente la società di pubblicità, in questo caso: Google. Il numero di annunci pubblicitari che vi sarà proposto rimane invariato, ma è probabile che le pubblicità non saranno pertinenti ai vostri interessi. La procedura di disattivazione della pubblicità online deve essere ripetuta per ogni navigatore utilizzato.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="receive-stop">
    <h2>Come fare per non ricevere più informazioni da Zero Motorcycles?</h2>
    <p class="first">
    Se desiderate non ricevere più le newsletter di Zero Motorcycles, fare clic sul link “One-Click Unsubscribe” che si trova in fondo a tutte le newsletter.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="children">
    <h2>Tutela dei minori</h2>
    <p class="first">
    Il sito web di Zero Motorcycles e le applicazioni non sono adatte ai minori di 13 anni. Zero Motorcycles non raccoglie mai in modo cosciente i dati personali di bambini con età inferiore a 13 anni senza l'esplicito consenso dei genitori. Nel caso dovessimo venire a conoscenza di aver raccolto i dati personali di un minore con età inferiore a 13 anni senza il consenso dei genitori, tali dati personali saranno cancellati immediatamente.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="contact">
    <h2>Come posso contattare Zero Motorcycles?</h2>
    <p class="first">
    Per qualsiasi domanda o informazione sulla Politica di riservatezza di Zero Motorcycles, vi invitiamo a contattarci direttamente.
    </p>
    <p style="margin-bottom:1em;">
    380 El Pueblo Road<br />
    Scotts Valley, CA 95066<br />
    USA<br />
    (888) 786-9376<br />
    <a href="mailto:info@zeromotorcycles.com">info@zeromotorcycles.com</a><br />
    </p>
    <span class="back-link">
        <a href="#top-of-page">Torna all'inizio</a>
    </span>
</div>

<div class="policy-section" id="changes">
    <h2>Modifiche alla Politica di riservatezza di Zero Motorcycles</h2>
    <p class="first">
    Ultima revisione: novembre 2014
    <br />
    Questa pagina contiene le ultime modifiche apportate alla Politica di riservatezza di Zero Motorcycles. La nostra Politica di riservatezza viene aggiornata ogni qualvolta necessario; vi invitiamo pertanto a consultare questa pagina regolarmente.
    </p>
</div>
