<div class="policy-section" id="info-type">
    <h2>Quel type d'informations est collecté par Zero Motorcycles ?</h2>
    <p class="first">
    Lorsque vous vous inscrivez à notre newsletter ou à une conduite d'essai, vous achetez un article chez un distributeur, vous demandez un devis dans notre boutique en ligne, vous nous contactez pour une question ou un problème, vous envoyez des informations de diagnostic en utilisant l'application Zero Motorcycles ou vous participez à un concours, une action spéciale ou une enquête, nous pouvons collecter des informations telles que votre nom, adresse postale, numéro de téléphone, adresse e-mail et préférences de contact.
    </p>
    <p>
    Lorsque vous visitez notre site Web, nous recueillons des informations qui nous sont envoyées par votre ordinateur. Ces informations comprennent les informations de connexion standard, y compris votre adresse IP, le type de navigateur que vous utilisez et les pages que vous avez consultées sur notre site avec la date et l'heure.
    </p>
    <p>
    Nous recueillons des informations personnelles que vous choisissez de saisir lorsque vous soumettez un formulaire, y compris votre prénom, nom, adresse e-mail, numéro de téléphone, rue, ville, état, pays, code postal, intérêt pour le produit, questions et le fait que vous vouliez ou non vous abonner à notre newsletter. En outre, lorsque vous soumettez un formulaire, nous enregistrons la manière dont vous accédez à notre site Web (lien e-mail, termes de recherche, campagne de publicité, site de référencement, etc.).
    </p>
    <p>
    L'application Zero Motorcycles vous donne la possibilité d'envoyer des informations de diagnostic au groupe de service à la clientèle de Zero Motorcycles. Cela comprend les réglages de la moto (numéro d'identification du véhicule, modèle, etc.) ainsi que des informations des journaux d'événements et d'erreurs de votre moto, ce qui peut inclure la date/l'heure de conduites et l'état de la moto pendant ces heures de conduite : vitesses, températures, recharges et autres mesures de performance importantes. Les données statistiques relatives à vos sorties à moto et l'utilisation de l'application incluent sans s'y limiter la distance parcourue, la vitesse moyenne et la consommation d'énergie et peuvent aussi être soumises. Si vous choisissez d'envoyer les informations du journal de la moto à Zero Motorcycles, elles seront associées à votre nom et votre adresse e-mail et peuvent être partagées avec des concessionnaires, des distributeurs et le personnel de Zero Motorcycles. Nous utilisons ces informations de diagnostic pour résoudre les problèmes de votre moto. Ces informations nous aident également à améliorer la qualité du produit.
    </p>
    <p>
    L'application Zero Motorcycles inclut la technologie de Flurry Analytics qui nous fournit des informations sur les habitudes d'utilisation et nous aide à déterminer les meilleurs domaines d'amélioration. Flurry enregistre aussi les types d'appareils et de systèmes d'exploitation utilisés, les informations géographiques générales, ainsi que les événements qui se produisent dans l'application Zero Motorcycles, par exemple la fréquence d'utilisation et d'autres données anonymes. Ces informations nous aident à déterminer les appareils mobiles et les langues que nous devrions proposer. Pour plus d'informations sur Flurry, sa politique de confidentialité et comment se retirer de ce service, rendez-vous sur <a href="http://www.flurry.com/user-opt-out.html" target="_blank">www.flurry.com/user-opt-out.html</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="info-duration">
    <h2>Combien de temps mes informations sont-elles conservées par Zero Motorcycles ?</h2>
    <p class="first">
    Nos informations du journal Web sont conservées pour une durée de six mois. Vos informations de connexion sont conservées pour une période indéfinie en dehors de notre serveur Web public.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="info-review">
    <h2>Modifier ou supprimer des informations personnelles</h2>
    <p class="first">
    Nous ne stockons pas vos informations personnelles sur notre serveur Web public. Si vous avez besoin de mettre à jour, modifier ou supprimer vos informations personnelles, veuillez <a href="#contact">nous contacter</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="security">
    <h2>Mesures de sécurité de Zero Motorcycles pour protéger les informations personnelles</h2>
    <p class="first">
    Vos informations personnelles ne sont pas stockées sur notre serveur Web public. Dans de très rares cas, une entrée peut être faite dans le journal d'erreurs si vos informations personnelles sont soumises. Les informations de journal sont supprimées tous les six mois.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="info-use">
    <h2>Comment mes informations sont-elles utilisées par Zero Motorcycles ?</h2>
    <div>Nous pouvons utiliser vos informations personnelles des manières suivantes :</div>
    <ul>
        <li>Pour communiquer avec vous. À votre demande, nous vous envoyons des informations sur les derniers produits, services, événements à venir et actions spéciales de Zero Motorcycles. Vous pouvez vous retirer de notre liste de diffusion en cliquant sur le lien « One-Click Unsubscribe » situé au bas de chaque newsletter Zero Motorcycles.</li>
        <li>Pour répondre à des questions ou des préoccupations que vous pourriez avoir au sujet de nos produits, nos services et notre site Web.</li>
        <li>Pour vous mettre en relation avec un concessionnaire Zero Motorcycles près de chez vous si vous souhaitez vous inscrire à une conduite d'essai ou passer une commande. Si vous avez sélectionné un concessionnaire en particulier, vous serez mis en contact avec ce dernier ; sinon, vous serez mis en contact avec le concessionnaire le plus proche de chez vous.</li>
        <li>Pour des raisons internes telles que l'analyse des données, la recherche pour améliorer nos produits, les services et les communications clients. Lorsque vous demandez des informations de Zero Motorcycles ou de l'un de nos distributeurs ou partenaires, vous êtes invité à participer à une enquête. Nous voulons nous assurer que vous bénéficiez d'un bon service.</li>
        <li>Pour lancer un concours ou une action spéciale. La participation aux actions spéciales et concours implique la soumission d'un formulaire sur notre site Web, l'envoi d'un formulaire à Zero Motorcycles ou la remise d'un bulletin de participation à un concessionnaire Zero Motorcycles. Pour certaines actions spéciales et concours, Zero Motorcycles peut partager vos informations avec un tiers.</li>
        <li>Pour vous envoyer des mises à jour importantes sur les produits que vous avez achetés. Ces mises à jour sont à votre avantage exclusivement et ne sont pas liées au marketing.</li>
        <li>Pour résoudre les problèmes que vous rencontrez avec votre moto et nous aider à améliorer la qualité des produits. L'application Zero Motorcycles vous donne la possibilité d'envoyer des informations de diagnostic au groupe de service à la clientèle de Zero Motorcycles.</li>
    </ul>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="cookies">
    <h2>Qu'en est-il des cookies ?</h2>
    <p class="first">
    Le site Zero Motorcycles utilise des cookies et d'autres technologies telles que les pixels invisibles ou les balises Web. Les cookies sont des fragments de données non personnelles (informations sur votre utilisation de notre site Web, préférences, panier d'articles) qui sont stockés sur votre navigateur. Ils nous permettent de rendre l'expérience des utilisateurs plus agréable, efficace et personnalisée. Il s'agit d'une pratique courante sur Internet.
    </p>
    <p>
    Les cookies sont utilisés dans nos campagnes de publicité comportementale en ligne avec Google AdWords et Facebook. Ils nous aident à déterminer les publicités qui vous sont montrées lorsque vous visitez d'autres sites Web de nos partenaires publicitaires ou leurs réseaux d'affichage. (Voir la section <a href="#share">Est-ce que Zero Motorcycles partage mes informations ?</a>). Pour les campagnes d'e-mail et de publicité, il se peut que nous utilisions un cookie indiquant que vous avez accédé à notre site via cette campagne.
    </p>
    <p>
    La plupart des navigateurs vous permettent de désactiver les cookies dans la section « Préférences ». Votre navigateur a probablement des options permettant de bloquer les nouveaux cookies ou de vous informer lorsque vous recevez une demande pour un nouveau cookie. Si vous désactivez les cookies, il se peut que certaines sections du site Web que vous visitez ne fonctionnent pas entièrement.
    </p>
    <p>
    Les balises Web ou les pixels invisibles sont de petits morceaux de code placés dans une page Web ou un e-mail. Ils nous aident à suivre les visites sur la page Web et nous informer lorsque les e-mails sont reçus.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="share">
    <h2>Est-ce que Zero Motorcycles partage mes informations ?</h2>
    <p class="first">
    Zero Motorcycles partage vos informations personnelles avec ses succursales nationales et internationales, les entrepreneurs de l'entreprise et les concessionnaires et distributeurs partenaires. Cela est nécessaire pour honorer les devis, les conduites d'essai et les demandes de newsletter. Zero Motorcycles ne surveille, contrôle ou restreint en aucune manière l'utilisation de ces informations par des tiers.
    </p>
    <p>
    Zero Motorcycles peut mettre des informations personnelles limitées à disposition de tierces parties pour envoyer du matériel promotionnel ou de communication.
    </p>
    <p>
    L'application Zero Motorcycles vous donne la possibilité d'envoyer des informations de diagnostic au groupe de service à la clientèle de Zero Motorcycles. Si vous choisissez d'envoyer les informations du journal de la moto à Zero Motorcycles, elles seront associées à votre nom et votre adresse e-mail et pourront être partagées avec des concessionnaires, des distributeurs et le personnel de Zero Motorcycles. Nous utilisons ces informations de diagnostic pour résoudre les problèmes de votre moto. Ces informations nous aident également à améliorer la qualité du produit.
    </p>
    <p>
    Zero Motorcycles utilise des cookies qui partagent votre activité de navigation sur notre site avec Google et Facebook. Les cookies de Google Analytics mesurent l'activité du site Web et les statistiques générales, y compris les données démographiques et d'intérêt. Ils nous permettent en plus d'améliorer notre service. Ces informations comprennent votre adresse IP, elles sont transmises et stockées sur des serveurs de Google. Google AdWords et Facebook utilisent des cookies pour ajouter les visiteurs de notre site Web à nos campagnes publicitaires de remarketing. Les cookies de remarketing permettent à Google AdWords et Facebook d'afficher des publicités informées et optimisées pour guider les visiteurs du site Web vers d'autres sites. L'information partagée avec Google et Facebook ne contient pas votre nom, adresse, numéro de téléphone ou adresse e-mail.
    </p>
    <p>
    La plupart des navigateurs vous permettent de désactiver les cookies dans la section « Préférences ». Votre navigateur a probablement des options permettant de bloquer les nouveaux cookies ou de vous informer lorsque vous recevez une demande pour un nouveau cookie. Si vous désactivez les cookies, il se peut que certaines sections du site Web que vous visitez ne fonctionnent pas entièrement.
    </p>
    <p>
    Pour désactiver les cookies ou la publicité de remarketing, vous pouvez visiter le site <a href="http://www.networkadvertising.org/" target="_blank">Network Advertising Initiative</a> et <a href="http://www.networkadvertising.org/choices/" target="_blank">désactiver la publicité comportementale en ligne</a>. Sélectionnez simplement la société de publicité : dans ce cas, Google. Le nombre de publicités que vous voyez sera le même mais les publicités ne seront peut-être pas aussi intéressantes. Vous devrez vous désinscrire de la publicité en ligne pour chaque navigateur Web que vous utilisez.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="receive-stop">
    <h2>Que faire si je ne souhaite plus recevoir d'informations de Zero Motorcycles ?</h2>
    <p class="first">
    Si vous ne souhaitez plus recevoir de newsletter, veuillez cliquer sur le lien « One-Click Unsubscribe » au bas de chaque newsletter Zero Motorcycles.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="children">
    <h2>Vie privée des enfants</h2>
    <p class="first">
    Le site Web et l'application Zero Motorcycles ne sont pas destinés à des enfants de moins de 13. Nous ne collectons jamais consciemment des informations personnelles d'enfants de moins de 13 ans sans l'accord des parents. Si vous apprenez que nous avons collecté des données personnelles d'un enfant de moins de 13 ans sans l'accord de ses parents, nous supprimerons l'information dès que possible.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="contact">
    <h2>Comment puis-je vous contacter ?</h2>
    <p class="first">
    Si vous avez des questions ou des doutes à propos de la politique de confidentialité de Zero Motorcycles, veuillez nous contacter.
    </p>
    <p style="margin-bottom:1em;">
    380 El Pueblo Road<br />
    Scotts Valley, CA 95066<br />
    États-Unis<br />
    (888) 786-9376<br />
    <a href="mailto:info@zeromotorcycles.com">info@zeromotorcycles.com</a><br />
    </p>
    <span class="back-link">
        <a href="#top-of-page">Retour en haut de la page</a>
    </span>
</div>

<div class="policy-section" id="changes">
    <h2>Changements dans la politique de confidentialité de Zero Motorcycles</h2>
    <p class="first">
    Dernière révision : février 2015
    <br />
    Cette page décrit les dernières mises à jour de notre politique de confidentialité. Nous mettons à jour notre politique de confidentialité de temps en temps et nous vous invitons à la consulter régulièrement.
    </p>
</div>
