<div class="policy-section" id="info-type">
    <h2>¿Qué tipo de información recopila Zero Motorcycles?</h2>
    <p class="first">
    Cuando se suscribe al boletín, solicita una prueba, compra algún artículo en un distribuidor, solicita un presupuesto en nuestra tienda en línea, contacta con nosotros por alguna duda o pregunta, nos envía información de diagnóstico mediante la app de Zero Motorcycles o participa en un concurso, promoción o encuesta, recopilamos información que consiste en su nombre, dirección postal, número de teléfono, dirección de correo electrónico y sus preferencias de contacto.
    </p>
    <p>
    Cuando visita nuestro sitio web, recopilamos la información que su ordenador nos envía. Esta información incluye información de registro web como su dirección IP, el tipo de navegador y las páginas a las que accede en nuestro sitio web con la hora y la fecha.
    </p>
    <p>
    Recopilamos la información personal que decide incluir al enviar un formulario, como su nombre y apellidos, la dirección de correo electrónico, el número de teléfono, la calle, la ciudad, la provincia, el país, el código postal, los productos en los que está interesado, sus preguntas y si desea suscribirse o no a nuestro boletín. Además, cuando envía un formulario, queda constancia de cómo ha llegado a nuestro sitio (p. ej., un enlace en el correo electrónico, términos de búsqueda, campaña publicitaria, remisión desde otro sitio web, etc.).
    </p>
    <p>
    La app de Zero Motorcycles le permite enviar por correo electrónico información de diagnóstico al servicio de atención al cliente de Zero Motorcycles. Dicha información incluye las configuraciones de la motocicleta (n.º de identificación del vehículo, modelo, etc.) junto con los datos sobre los registros de eventos y errores de su motocicleta. Estos pueden incluir la hora y fecha de conducción y el estado de la motocicleta durante dicha conducción: velocidades, temperaturas, cargas y otros datos importantes para el rendimiento. También pueden enviarse datos estadísticos sobre su conducción y el uso de la app, incluyendo —pero sin constituir limitación— la distancia recorrida, la velocidad media y el consumo de energía. Si decide enviar por correo electrónico la información de registro de la moto a Zero Motorcycles, esta se vinculará con su nombre y dirección de correo electrónico y puede ser compartida con concesionarios, distribuidores y personal de Zero Motorcycles. Utilizamos esta información de diagnóstico para resolver problemas de su motocicleta al tiempo que nos ayuda a mejorar la calidad del producto.
    </p>
    <p>
    La app de Zero Motorcycles incluye tecnología de Flurry Analytics que nos aporta información sobre las pautas de uso y nos ayuda a determinar mejor qué aspectos mejorar. Flurry también registra los tipos de dispositivos y los sistemas operativos usados, la información geográfica general, así como eventos que tengan lugar en la app de Zero Motorcycles, como la frecuencia de uso de la motocicleta y otros datos anónimos. Esta información nos ayuda a determinar qué dispositivos móviles e idiomas debemos considerar. Para más información sobre Flurry, su política de privacidad y cómo desactivar este servicio, visite <a href="http://www.flurry.com/user-opt-out.html" target="_blank">www.flurry.com/user-opt-out.html</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="info-duration">
    <h2>¿Cuánto tiempo conserva Zero Motorcycles mi información?</h2>
    <p class="first">
    La información del registro web se almacena durante seis meses. Su información personal se almacena durante un período indefinido fuera de nuestro servidor web público.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="info-review">
    <h2>Consultar o borrar información personal</h2>
    <p class="first">
    No almacenamos su información personal en nuestro servidor web público. Si precisa actualizar, consultar o borrar información personal, <a href="#contact">contacte con nosotros</a>.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="security">
    <h2>Medidas de seguridad de Zero Motorcycles para proteger la información personal</h2>
    <p class="first">
    Su información personal no se almacena en nuestro servidor web público. En muy pocos casos puede producirse una entrada en el registro de errores al enviar su información personal. La información de registro se elimina cada seis meses.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="info-use">
    <h2>¿Cómo utiliza Zero Motorcycles mi información?</h2>
    <div>Podemos usar su información personal:</div>
    <ul>
        <li>Para comunicarnos con usted. Cuando así lo solicite, le enviaremos información sobre los últimos productos, servicios, próximos eventos y promociones especiales de Zero Motorcycles. Puede darse de baja de nuestra lista de distribución haciendo clic en el enlace “One-Click Unsubscribe” situado en la parte inferior de cada boletín de Zero Motorcycles.</li>
        <li>Para dar respuesta a dudas o preguntas que puedan surgir sobre productos, servicios y el sitio web.</li>
        <li>Para ponerle en contacto con un concesionario de Zero Motorcycles cercano en caso de que esté interesado en solicitar una prueba o realizar una compra. Si ha seleccionado un concesionario concreto, se le pondrá en contacto con ese concesionario; de lo contrario, se le pondrá en contacto con el concesionario más cercano a usted.</li>
        <li>Para finalidades internas, como análisis de datos e investigación para mejorar nuestros productos, servicios y comunicaciones con los clientes. Cuando solicita información de Zero o de uno de nuestros concesionarios o socios, se le pide que participe en una encuesta de seguimiento. Queremos estar seguros de que recibe un buen servicio.</li>
        <li>Para emprender una promoción o concurso. La participación en promociones y concursos de Zero Motorcycles implica enviar un formulario a través de nuestro sitio web, enviar por correo electrónico un formulario de inscripción a Zero Motorcycles o entregar un formulario de inscripción en un concesionario. En algunas promociones y concursos concretos, Zero Motorcycles puede compartir su información de inscripción con un tercero.</li>
        <li>Para enviarle actualizaciones importantes de productos que ha adquirido. Estas actualizaciones son únicamente en su propio beneficio y no tienen finalidad comercial.</li>
        <li>Para resolver problemas de su motocicleta y para ayudarnos a mejorar la calidad del producto. La app de Zero Motorcycles le permite enviar por correo electrónico información de diagnóstico al servicio de atención al cliente de Zero Motorcycles.</li>
    </ul>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="cookies">
    <h2>¿Cuál es la política de cookies?</h2>
    <p class="first">
    El sitio web de Zero Motorcycles utiliza cookies y otras tecnologías como etiquetas de píxeles o balizas web. Las cookies son fragmentos de datos no personales —información sobre el uso en nuestro sitio web, sus preferencias, artículos en la cesta de la compra— que se almacenan en su navegador. Esto nos permite ofrecer una experiencia de usuario más acertada, eficiente y personalizada y es una práctica común en Internet.
    </p>
    <p>
    Las cookies se utilizan en nuestras campañas de publicidad conductual en línea con Google AdWords y Facebook que nos ayudan a determinar qué anuncios se le muestran cuando visita otros sitios web que pertenecen a nuestros socios publicitarios o a sus redes de visualización. (Consulte <a href="#share">¿Comparte Zero Motorcycles mi información?</a>) En campañas publicitarias y de correo electrónico también podemos incluir una cookie para que nos quede constancia de que ha llegado a nuestro sitio web a través de dicha campaña.
    </p>
    <p>
    La mayoría de los navegadores le permiten deshabilitar cookies en la pestaña “Preferencias”. Es posible que su navegador le permita bloquear las nuevas cookies o notificarle cuando reciba una solicitud de una nueva cookie. Si deshabilita las cookies puede que algunas secciones de nuestro sitio web no funcionen correctamente.
    </p>
    <p>
    Las balizas web o las etiquetas de píxeles son pequeños fragmentos de código insertados en una página web o en un mensaje de correo electrónico. Nos ayudan a llevar un seguimiento de las visitas a la página web y nos notifican la recepción de los correos electrónicos.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="share">
    <h2>¿Comparte Zero Motorcycles mi información?</h2>
    <p class="first">
    Zero Motorcycles comparte su información personal con nuestras filiales nacionales e internacionales, contratistas de la empresa y concesionarios y distribuidores asociados. Esto es necesario para dar respuesta a las solicitudes de presupuesto, las solicitudes para probar una Zero y las suscripciones al boletín. Zero Motorcycles no supervisa, controla o restringe de modo alguno el uso de esta información por parte de terceros.
    </p>
    <p>
    Zero Motorcycles puede poner a disposición de terceros información personal limitada a fin de enviar material promocional o de comunicación.
    </p>
    <p>
    La app de Zero Motorcycles le permite enviar por correo electrónico información de diagnóstico al servicio de atención al cliente de Zero Motorcycles. Si decide enviar por correo electrónico la información de registro de la moto a Zero Motorcycles, esta se vinculará con su nombre y dirección de correo electrónico y puede ser compartida con concesionarios, distribuidores y personal de Zero Motorcycles. Utilizamos esta información de diagnóstico para resolver problemas de su motocicleta al tiempo que nos ayuda a mejorar la calidad del producto.
    </p>
    <p>
    Zero Motorcycles utiliza cookies que comparten con Google y Facebook su actividad de navegación en nuestro sitio web. Las cookies de Google Analytics determinan la actividad y las estadísticas generales del sitio web, incluyendo datos demográficos y de interés, y nos permiten mejorar nuestro servicio. Esta información incluye su dirección IP y se transmite y almacena en los servidores de Google. Google AdWords y Facebook utilizan cookies para añadir a los usuarios que visitan nuestro sitio web a nuestras campañas publicitarias de remarketing. Las cookies de remarketing permiten que Google AdWords y Facebook muestren anuncios informados y optimizados a los usuarios que han visitado anteriormente la web cuando visiten otros sitios. La información compartida con Google y Facebook no contiene su nombre, dirección, número de teléfono ni dirección de correo electrónico.
    </p>
    <p>
    La mayoría de los navegadores le permiten deshabilitar cookies en la pestaña “Preferencias”. Es posible que su navegador le permita bloquear las nuevas cookies o notificarle cuando reciba una solicitud de una nueva cookie. Si deshabilita las cookies puede que algunas secciones de nuestro sitio web no funcionen correctamente.
    </p>
    <p>
    Una alternativa a la deshabilitación de cookies es deshabilitar la publicidad de remarketing. Para ello, visite el sitio web <a href="http://www.networkadvertising.org/" target="_blank">Network Advertising Initiative</a> y <a href="http://www.networkadvertising.org/choices/" target="_blank">desactive la publicidad conductual</a>. Seleccione la empresa anunciante: en este caso, Google. La cantidad de anuncios será la misma pero los anuncios no serán tan relevantes. Tiene que desactivar la publicidad en línea en todos los navegadores que utilice.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="receive-stop">
    <h2>¿Cómo puedo dejar de recibir información de Zero Motorcycles?</h2>
    <p class="first">
    Si desea dejar de recibir nuestros boletines, haga clic en el enlace «One-Click Unsubscribe» situado en la parte inferior de cada boletín de Zero Motorcycles.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="children">
    <h2>Privacidad de los niños</h2>
    <p class="first">
    El sitio web y la app de Zero Motorcycles no están diseñados o dirigidos a niños menores de 13 años. Nunca recopilaremos intencionadamente información personal de niños menores de 13 años sin el consentimiento de los padres. Si llega a nuestro conocimiento que hemos recopilado información personal de un menor de 13 años sin el consentimiento de los padres, borraremos dicha información lo antes posible.
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="contact">
    <h2>¿Cómo puedo contactar con Zero Motorcycles?</h2>
    <p class="first">
    Si tiene alguna duda o pregunta sobre la política de privacidad de Zero Motorcycles, contacte con nosotros.
    </p>
    <p style="margin-bottom:1em;">
    380 El Pueblo Road<br />
    Scotts Valley, CA 95066<br />
    EE. UU.<br />
    (888) 786-9376<br />
    <a href="mailto:info@zeromotorcycles.com">info@zeromotorcycles.com</a><br />
    </p>
    <span class="back-link">
        <a href="#top-of-page">Volver arriba</a>
    </span>
</div>

<div class="policy-section" id="changes">
    <h2>Modificaciones de la política de privacidad de Zero Motorcycles.</h2>
    <p class="first">
    Última revisión: febrero de 2015.
    <br />
    Esta página contiene las actualizaciones más recientes de nuestra política de privacidad. Actualizaremos periódicamente nuestra política de privacidad y le invitamos a revisarla con regularidad.
    </p>
</div>
